* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Sofia", sans-serif;
}

body {
  background-color: #9cc0fa;
}

.container {
  position: relative;
  width: 1400px;
  height: 800px;
  background-image: url(../image/map2.jpg);
  background-size: cover;
  background-position: center;
}

.group {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 200px;
  height: 200px;
}

img {
  width: 50px;
}

.png {
  position: absolute;
  top: 110px;
  z-index: 10;
}

.group div:first-child:hover ~ div:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  z-index: 99;
}

p {
  font-weight: bold;
  font-size: 15px;
  color: #777;
}

.popup {
  position: absolute;
  top: 0px;
  display: none;
  animation: fade-in 0.5s ease;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 200px;
  padding: 10px;
  box-shadow: 1px 1px 5px #333;
  border-radius: 10px;
}

.popup img {
  width: 100px;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#location1 {
  bottom: 90px;
  left: 380px;
}

#location2 {
  bottom: 40px;
  left: 380px;
}

#location3 {
  top: 300px;
  right: 270px;
}

#location4 {
  top: 150px;
  left: 500px;
}

.girl {
  color: rgb(197, 11, 221);
  position: fixed;
  top: 360px;
  left: 630px;
  font-size: 25px;
}

#walking {
  font-size: 18px;
}

#location5 {
  bottom: 70px;
  left: 425px;
}

.videos {
  position: relative;
  top: 400px;
  display: none;
}

#location7 {
  top: 240px;
  right: 560px;
}

.animation {
  width: 300px;
  height: 300px;
  position: fixed;
  bottom: -80px;
  left: 0;
  opacity: 0.8;
}

.animation2 {
  position: fixed;
  top: 40px;
  right: 20px;
  }

h1 {
  position: absolute;
  top: 80px;
  left: 90px;
  z-index: 2;
}

.cs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: fixed;
  background-color: crimson;
  width: 50px;
  height: 80px;
  border-radius: 8px;
  z-index: 50;
  right: -15px;
  top: 100px;
  box-shadow: 1px 1px 10px #333;
}

.cs:hover {
  right: -10px;
}

header {
  z-index: 99;
  width: 100%;
  position: fixed;
  top: 0;
  box-shadow: 1px 1px 10px #333;
}

.barlist {
  display: flex;
  justify-content: space-between;
  padding: 12px 30px;
  font-size: 20px;
  font-weight: 500;
  list-style: none;
  width: 100%;
  background-color: #eee;
}

[href] {
  color: black;
  text-decoration: none;
}
